<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DistriGruop</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="/css/style2.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
    rel="stylesheet">

  <!-- 
    - preload banner
  -->
  <link rel="preload" href="./assets/images/hero-banner.png" as="image">

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">
      <div class="overlay" data-overlay></div>

      <a href="#" class="logo-text"> Distri<span>Group</span> </a>

      <button class="nav-open-btn" data-nav-open-btn aria-label="Open Menu">
        <ion-icon name="menu-outline"></ion-icon>
      </button>

      <nav class="navbar" data-navbar>
        <button
          class="nav-close-btn"
          data-nav-close-btn
          aria-label="Close Menu"
        >
          <ion-icon name="close-outline"></ion-icon>
        </button>

        <ul class="navbar-list">
          <li class="navbar-item">
            <a href="/" class="navbar-link" >Inicio</a>
          </li>

          <li class="navbar-item">
            <a href="/women" class="navbar-link">Mujeres</a>
          </li>

          <li class="navbar-item">
            <a href="/men" class="navbar-link">Hombres</a>
          </li>

          <li class="navbar-item">
            <a href="/offers" class="navbar-link">Ofertas</a>
          </li>
        </ul>

        <ul class="nav-action-list">
          <li>
            <button class="nav-action-btn">
              <ion-icon name="search-outline" aria-hidden="true"></ion-icon>
              <span class="nav-action-text">Buscar</span>
            </button>
          </li>

          <li>
            <a href="#" class="nav-action-btn">
              <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
              <span class="nav-action-text">Iniciar sesión</span>
            </a>
          </li>

          <li>
            <button class="nav-action-btn">
              <ion-icon name="bag-outline" aria-hidden="true"></ion-icon>
              <data class="nav-action-text" value="318.00"
                >Basket: <strong>$318.00</strong></data
              >
              <data class="nav-action-badge" value="4" aria-hidden="true"
                >4</data
              >
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  

  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" style="background-image: url('./assets/images/bannerInicio.jpg')">
        <div class="container">

          <h2 class="h1 hero-title">
            Nuevos diseños
          </h2>

          <p class="hero-text">
            ¡Atención, comerciantes de moda! 🔥 En DistriGroup estamos emocionados de anunciar descuentos exclusivos en nuestra nueva colección de ropa al por mayor. Encuentra las últimas tendencias y aumenta tus ventas con nuestros precios especiales por tiempo limitado.
          </p>

          <button class="btn btn-primary">
            <span>Comprar ahora</span>

            <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
          </button>

        </div>
      </section>





      <!-- 
        - #COLLECTION
      -->

      <section class="section collection">
        <div class="container">

          <ul class="collection-list has-scrollbar">

            <li>
              <div class="collection-card" style="background-image: url('./assets/images/categoriaHombre.jpg');">
                <h3 class="h4 card-title" style="color:coral;">Nuevo en hombres</h3>

                <a href="#" class="btn btn-secondary">
                  <span>Mostrar todo</span>

                  <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                </a>
              </div>
            </li>

            <li>
              <div class="collection-card" style="background-image: url('./assets/images/coleccionMujer.jpeg')">
                <h3 class="h4 card-title" style="color:coral;">Nuevo en mujeres</h3>

                <a href="#" class="btn btn-secondary">
                  <span>Mostrar todo</span>

                  <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                </a>
              </div>
            </li>

            <li>
              <div class="collection-card" style="background-image: url('./assets/images/coleccionNino.png')">
                <h3 class="h4 card-title" style="color:coral;">Nuevo en niños</h3>

                <a href="#" class="btn btn-secondary">
                  <span>Mostrar todo</span>

                  <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                </a>
              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #PRODUCT
      -->

      <section class="section product">
        <div class="container">

          <h2 class="h2 section-title">Destacados 👕🔥</h2>

          <ul class="product-list">

            <li class="product-item" th:each="lista : ${list}">
              <div class="product-card" tabindex="0">

                <figure class="card-banner">
                  <img
                      th:src="@{${lista.image1}}"
                        width="312"
                        height="350"
                        loading="lazy"
                        alt="Running Sneaker Shoes"
                        class="image-contain"
  
                      />

                  <div class="card-badge" th:text="${lista.state}">New</div>

                  <ul class="card-action-list">

                    <li class="card-action-item">
                      
                    </li>

                  </ul>
                </figure>

                <div class="card-content">

                  <div class="card-cat">
                    <a href="#" class="card-cat-link">Categoria</a> /
                    <a href="#" class="card-cat-link" th:text="${lista.category}">Women</a>
                  </div>

                  <h3 class="h3 card-title">
                    <a href="#" th:text="${lista.name}" th:href="@{'/shirt/' + ${lista.id}}" >Running Sneaker Shoes</a>
                  </h3>

                  <data class="card-price" value="180.85" th:text="${#numbers.formatInteger(lista.price,3,'POINT')}">$180.85</data>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>
        



      <!-- 
        - #SERVICE
      -->

      <section class="section service">
        <div class="container">

          <ul class="service-list">

            <li class="service-item">
              <div class="service-card">

                <div class="card-icon">
                  <img src="./assets/images/service-1.png" width="53" height="28" loading="lazy" alt="Service icon">
                </div>

                <div>
                  <h3 class="h4 card-title">Envios gratis</h3>

                  <p class="card-text">
                    Todas las compras mayores <span>$150.000</span>
                  </p>
                </div>

              </div>
            </li>

            <li class="service-item">
              <div class="service-card">

                <div class="card-icon">
                  <img src="./assets/images/service-2.png" width="43" height="35" loading="lazy" alt="Service icon">
                </div>

                <div>
                  <h3 class="h4 card-title">Pago en linea</h3>

                  <p class="card-text">
                    100% seguro
                  </p>
                </div>

              </div>
            </li>

            <li class="service-item">
              <div class="service-card">

                <div class="card-icon">
                  <img src="./assets/images/service-3.png" width="40" height="40" loading="lazy" alt="Service icon">
                </div>

                <div>
                  <h3 class="h4 card-title">DEVOLUCIONES GRATUITAS</h3>

                  <p class="card-text">
                    Devolución del dinero en 30 días
                  </p>
                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>


    </article>
  </main>



  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <div class="footer-top section">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo-text">
            Distri<span>Group</span>
          </a>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <div class="footer-link-box">

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Contacto</p>
            </li>

            <li>
              <address class="footer-link">
                <ion-icon name="location"></ion-icon>

                <span class="footer-link-text">
                  Calle 55a 39-29 Cali, Colombia
                </span>
              </address>
            </li>

            <li>
              <a href="tel:+557343673257" class="footer-link">
                <ion-icon name="call"></ion-icon>

                <span class="footer-link-text">+57 315-324-6835</span>
              </a>
            </li>

            <li>
              <a href="mailto:footcap@help.com" class="footer-link">
                <ion-icon name="mail"></ion-icon>

                <span class="footer-link-text">DistriGruop@gmail.com</span>
              </a>
            </li>

          </ul>

          <div class="footer-list">

            <p class="footer-list-title">Horario de atencion</p>

            <table class="footer-table">
              <tbody>

                <tr class="table-row">
                  <th class="table-head" scope="row">Lunes a viernes:</th>

                  <td class="table-data">8:00 AM - 5:30 PM</td>
                </tr>


                <tr class="table-row">
                  <th class="table-head" scope="row">Sabados:</th>

                  <td class="table-data">7:00 AM - 2:00 PM</td>
                </tr>

                <tr class="table-row">
                  <th class="table-head" scope="row">Domingo:</th>

                  <td class="table-data">Cerrado</td>
                </tr>

              </tbody>
            </table>

          </div>


        </div>

      </div>
    </div>

  </footer>

  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top-btn" data-go-top>
    <ion-icon name="arrow-up-outline"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="/js/script2.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>